/**
 * Custom CSS for the WonderCMS Boostrap 5 theme.
 *
 * This is, in particular, useful if you want to modify the main areas of the
 * theme without modifying the theme itself. Styles are empty as you can see,
 * but can be modified to suit your needs.
 */

.wcmsbs5-body {
}

.wcmsbs5-navbar {
}

.wcmsbs5-pagetitle {
}

.wcmsbs5-maincontainer {
}

.wcmsbs5-maincontent {
}

.wcmsbs5-subsidecontainer {
}

.wcmsbs5-subsidecontent {
}

.wcmsbs5-footercontainer {
}

.wcmsbs5-footercontent {
}
.wcmsbs5-navbar-site-title {
}
.wcmsbs5-navbar-site-text {
}
.wcmsbs5-navbar-search {
}

/* Search results */
.wcmsbs5-notfound {
    min-height: 200px;
}
.wcmsbs5-match {
}
.wcmsbs5-match-title {
}
.wcmsbs5-match-content {
}

/* CSS to handle WCMS alert popups */
#alertWrapperId {
    z-index: 10000 !important;
}

/* CSS for the Blog plugin */
.wcmsbs5-blogcards {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.wcmsbs5-blogcards > .post.card {
    /*background-color: var(--bs-cyan);*/
    width: calc(48% - 2rem) !important;
    display: block !important;
    text-align: left !important;
    margin: 0 !important;
}

/* We'll display just one blog post card here */
@media (max-width: 768px) {

    .wcmsbs5-blogcards > .post.card {
        /*background-color: var(--bs-green);*/
        width: 98% !important;
    }
    .wcmsbs5-blogcards > .post.card:not(:first-child) {
        margin-top: 2rem !important;
    }

}
